attrs==21.4.0
blinker==1.5
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
decorator==4.3.0
docker==3.5.0
docker-pycreds==0.4.0
flasgger==0.9.1
Flask==1.0.2
Flask-Cors==3.0.6
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.7.2
MarkupSafe==2.1.1
mistune==2.0.4
pycrypto==2.6.1
pymongo==3.7.1
pyrsistent==0.18.1
PyYAML==3.13
requests==2.28.1
sentry-sdk==1.8.0
simple-crypt==4.1.7
six==1.16.0
typing_extensions==4.3.0
urllib3==1.26.10
websocket-client==1.3.3
Werkzeug==2.1.2
zipp==3.8.1
